body{
  font-family: Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

@font-face {
  font-family: Soho-Thin;
  src: url(SohoStd-ThinCondensed.otf);
}

@font-face {
  font-family: Soho-Light;
  src: url(SohoStd-LightCondensed.otf);
}

.Menu-Bar {
  position: absolute;
  top: 94px;
  left: 20px; /*159px*/
  width: 100%;
  min-width: 600px;
}

.Menu-Item {
  width: 100px;
  height: 20px;
  position: relative;
  text-align: center;
  vertical-align: center;
  color: white;
  font: 20px Soho-Light;
  z-index: 1000;
  padding-top: 2px;
  padding-bottom: 2px;
}

.Menu-Divider {
  position: relative;
  float: left;
  width: 100px;
  height: 24px;
  border-right: 1px solid white;
}

.Menu-Item:hover {
  background-color: rgba(135,206,250, .9);
  box-shadow: 0px 0px 20px LightSkyBlue;
}

#Last-Item {
  border-right: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#First-Item {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.App-intro {
  font-size: large;
}

.Logo-Frame {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 128px;
  border: 10px solid LightSkyBlue;
  z-index: 1000;
}

.App-header {
  position: absolute;
  background-color: rgba(135,206,250, .5);
  top: 0px;
  left: 0px;
  height: 84px;
  width: 110%;/*1800px;*/
  min-width: 1000px;
  color: white;
  z-index: 1000;
}

.hhlogo {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 10px;
  /*box-shadow: 5px 5px 10px black;*/
}

.hhtitle {
  position: absolute;
  top: 10px;
  left: 148px;
  font: 64px Soho-Thin;
  width: 400px;
}

.hhsubtitle {
  position: absolute;
  top: 10px;
  left: 558px;
  font: 28px Soho-Thin; 
  text-align: left;
  width: 360px; 
}

.Copyright {
  position: fixed;
  bottom: 5px;
  right: 25px;
  color: white;
  font: 15px Soho-Thin;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
