.Content-Container {
  position: fixed;
  border-radius: 10px;
  background-color: rgba(255,255,255, .95);
  z-index: 1000;
  left: 20px;
  right: 20px;
  top: 124px;
  bottom: 30px;
  display: inherit;
}

#CC-Duller {
  background-color: rgba(255,255,255, .2);
}

.Content-Title {
  position: relative;
  font: 28px Soho-Thin;
  font-weight: bold;
  left: 20px;
  text-align: left;
  display: inherit;
}

.Content-Text {
  position: relative;
  font: 18px HelveticaNeue-Thin;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 20px;
  text-align: left; 
  display: inherit;   
}

.Content-Text-Box {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  color: black; 
  font: 28px Soho-Thin;
  padding-right: 40px;
  overflow:auto;
  display: inherit;
}

#CT-Black {
  color: black;
}

