


.Content-Container {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255,255,255, .95);/*rgba(135,206,250, .9);/*LightSkyBlue; /*rgba(255,255,255, .9);*/
  z-index: 1000;
  left: 20px;
  right: 20px;
  top: 124px;
  bottom: 30px;
  display: inherit;
}

#CC-Duller {
  background-color: rgba(255,255,255, .2);
}
/*
#CC-Brighter {
  background-color: rgba(255,255,255, .95);
}*/

.Content-Title {
  position: relative;
  font: 28px Soho-Thin;
  font-weight: bold;
  left: 20px;
  text-align: left;
  display: inherit;
}

.Content-Text {
  position: relative;
  /*font: 15px Century Gothic;*/
  font: 18px HelveticaNeue-Thin;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 20px;
  text-align: left; 
  display: inherit;   
}

.Content-Text-Box {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  color: black; 
  font: 28px Soho-Thin;
  padding-right: 40px;
  overflow:auto;
  display: inherit;
}

#CT-Black {
  color: black;
}

.Designs-Title {
  position: relative;
  font: 28px Soho-Thin;
  color: black;
  font-weight: bold;
  left: 20px;
  text-align: left;
  display: inherit;
  /*display: none;*/
  /*text-shadow: 0px 0px 0px black;*/
}

.Designs-Text {
  position: relative;
  font: 18px HelveticaNeue-Thin; /*formerly 18px HelveticaNeue-Thin*/
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  /*padding-right: 5px;*/
  padding-left: 10px;
  padding-right: 10px;
  left: 12px;
  /*max-width: 635px;*/
  text-align: left; 
  display: inherit; 
  /*background-color: rgba(255,255,255, .9);*/
  border-radius: 5px;
}

.Designs-Video-Container {
  position: relative;
  /*padding-top: 5px;
  padding-bottom: 5px;
  */
  top: 10px;
  left: 20px;
  /*
  width:640px;
  height: 350px;
  */
  box-shadow: 0px 0px 20px LightSkyBlue;
  background-color: rgba(135,206,250, .7);
  font: 18px HelveticaNeue-Thin;
  display: inherit;
}

.Designs-Video {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inherit;
}

