.Designs-Video-Container {
  position: relative;
  top: 10px;
  left: 20px;
  box-shadow: 0px 0px 20px LightSkyBlue;
  background-color: rgba(135,206,250, .7);
  font-size: 18px;
  font-family: "HelveticaNeue-Thin", Arial, Serif;
  display: inherit;
}

.Designs-Video {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inherit;
}